.one-word-div {
    float:left;
    margin-bottom: 10px;
}
.sponsor {
    width: 180px;
    height: 180px;
    float: left;
    margin: 6px;

    /* Giving the sponsor div a relative positioning: */
    position: relative;
    cursor: pointer;
    border: 0px;
}
.box-shadow {
    /*box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);*/
    -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.5);
}
.sponsorFlip {
    /*  The sponsor div will be positioned absolutely with respect
         to its parent .sponsor div and fill it in entirely */

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;
    /*background-color: #FFFFFF;*/
    border-radius: 6px 6px 6px 6px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);*/
    border-radius: 6px 6px 6px 6px;
    background: url("img/background.jpg") no-repeat center center #ffffff;
}

.sponsorFlip:hover {
    border: 1px solid #999;
    color:#663300;
    /* CSS3 inset shadow: */
    /*-moz-box-shadow: 0 0 30px #999 inset;*/
    /*-webkit-box-shadow: 0 0 30px #999 inset;*/
    box-shadow: 0 0 30px #999 inset;

}

.sponsorFlip img {
     /*Centering the logo image in the middle of the sponsorFlip div*/

    position: absolute;
    top: 50%;
    right: 50%;
    margin: -70px 0 0 -70px;
}

.sponsorData {
    /* Hiding the .sponsorData div */
    display: none;
}

.sponsorDescription {
    font-size: 11px;
    padding: 43px 10px 20px 20px;
    font-style: italic;
}

.sponsorURL {
    font-size: 10px;
    font-weight: bold;
    padding-left: 20px;
}

.clear {
    /* This class clears the floats */
    clear: both;
}

/* The styles below are only necessary for the styling of the demo page: */

/*#main {*/
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*width: 1000px;*/
/*}*/

a, a:visited {
    color: #0196e3;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

/***************** new flip **********/

.new-sponsorListHolder {
    margin-top: 14px;
    margin-left: 24px;
    width: 800px;
}

/***************** new flip end **********/


/****************** for star **************/
.star-ul {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    display: block;
    list-style-type: none;

}
.star-ul li {
    display: block;
    cursor: pointer;
    float: left;
    margin: 0 0 0 8px;
    padding: 0px;

}
.sponsor .starred{
    background: url("/stylesheets/img/star.png") no-repeat 0 0 scroll transparent;
    height: 20px;
    width: 20px;
}
.sponsor .important{
    background: url("/stylesheets/img/important.png") no-repeat 0 0 scroll transparent;
    height: 20px;
    width: 20px;
}


/*************for star end ***********/