#signin-container {
    padding-top: 4px;
}

#signin-container .formcont {
    height: 220px;
    margin-bottom: 10px;
    margin-top: -20px;
    overflow: hidden;
    padding-top: 30px;
}

#signin-container .form {
    background: url("/stylesheets/img/signin-formbg.png") no-repeat scroll 0 0 transparent;
    height: 215px;
    margin: 0 auto;
    padding-top: 24px;
    position: relative;
}

.sign-in-title {
    color: #F05127;
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    margin: 0 80px 0px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    font-family: 'Kreon', serif;
}

#signin-container .form .email {
    background: url("/stylesheets/img/signin-form-email.png") no-repeat scroll 0 13px transparent;
    height: 50px;
    margin: 0 16px;
}

#signin-container .form .passwd {
    background: url("/stylesheets/img/signin-form-passwd.png") no-repeat scroll 0 13px transparent;
    height: 50px;
    margin: 0 16px 16px;

}

#signin-container .form .email input, #signin-container .form .passwd input {
    background: url("/stylesheets/img/signin-form-lines.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #272727;
    font-family: 'Homemade Apple', cursive;
    font-size: 24px;
    height: 50px;
    margin-left: 100px;
    outline: medium none;
    padding-left: 14px;
    text-indent: 9px;
    width: 383px;
}


.signin-button {
    background: url("/stylesheets/img/signin_img/button.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    bottom: -16px;
    color: #333333;
    font-size: 12px;
    height: 50px;
    line-height: 14px;
    padding: 0 0 18px 28px;
    right: 60px;
    text-align: left;
    width: 105px;
    float: right;
    margin-right: 16px;
}

.signin-button:hover {
    background-position: 0 100%;
    bottom: -17px;
    padding-bottom: 16px;
}

.to-signup {
    color: #333333;
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
    padding-left: 70px;
    float: left;
    width: 120px;
}

.to-signup label {
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
    padding-left: 0;
}

.to-signup a {
    color: #000099;
    display: inline-block;
    margin-left: 10px;
}

.to-signup a:hover {
    color: #ff0000;
}

