body {
    font: 13px/1.5 "BPreplayRegular", Arial, Helvetica, sans-serif;
    color: #666;
}

a {
    color: #2D76B9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:focus {
    outline: 1px dotted;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    *border-top: 1px solid #000;
    *border-bottom: 1px solid #fff;
    *filter: alpha(opacity = 30);
    clear: both;
    height: 0;
    display: block;
    margin: 15px 0 15px 0;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: 30px;
}

b, strong {
    font-weight: bold;
}

#main {
    overflow: hidden;
    padding: 37px 5em 28px 5em
}

.home {
    background-color: #ffffcc;
    /*background-image:url("/images/paperbg2.png")*/
}

.rightpane {
    float: right;
    width: 425px;
    padding: 21px 27px 0 0;
}

.accordion {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 360px;
    overflow: hidden;
}

.accordion .content {
    height: 203px;
    padding-bottom: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 25px;
}

body #wrapper #chart {
    background: rgba(0, 0, 0, 0.2);
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
}

body #wrapper #chart #bars {
    float: left;
    width: 950px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin: 7px 0 7px 8px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
}

body #wrapper #chart .bar {
    float: left;
    width: 100px;
    height: 40px;
    position: relative;
}

body #wrapper #chart .bar .pointer {
    background: url("/images/bg-pointer.png") 0 0 no-repeat;
    height: 62px;
    width: 17px;
    position: absolute;
    left: 44%;
    top: -35px;
}

body #wrapper #chart .bar .description {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -82px;
}

body #wrapper #chart .bar .description h2 {
    background: url("/images/bg-chart-titles.png") center 0 no-repeat;
    height: 16px;
    width: 100%;
    margin: 0 0 3px;
    padding: 0;
}

body #wrapper #chart .bar .description p {
    margin: 0 0 0 0;
    color: #aba096;
    font-size: 13px;
    font-style: italic;
}

body #wrapper #chart .first {
    background-image: -moz-linear-gradient(center bottom, #377800, #377800, #71d100);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#71d100), to(#377800));
    border-right: 1px solid #61bc00;
    -moz-border-radius: 28px 0 0 28px;
    -webkit-border-top-left-radius: 28px;
    -webkit-border-bottom-left-radius: 28px;
}

body #wrapper #chart .second {
    background-image: -moz-linear-gradient(center bottom, #e55c00, #e55c00, #fa9e00);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa9e00), to(#e55c00));
    border-left: 1px solid #a55200;
    border-right: 1px solid #fcb910;
}

body #wrapper #chart .second .pointer {
    background-position: -20px 0;
    top: 12px;
}

body #wrapper #chart .second .description {
    top: 84px;
}

body #wrapper #chart .second h2 {
    background-position: center -17px !important;
}

body #wrapper #chart .third {
    background-image: -moz-linear-gradient(center bottom, #8f0022, #8f0022, #dc1b32);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dc1b32), to(#8f0022));
    border-left: 1px solid #760c1a;
    border-right: 1px solid #f9334c;
    width: 186px;
}

body #wrapper #chart .third h2 {
    background-position: center -35px !important;
}

body #wrapper #chart .fourth {
    background-image: -moz-linear-gradient(center bottom, #490068, #490068, #8306e4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8306e4), to(#490068));
    border-left: 1px solid #4c0382;
    border-right: 1px solid #7840dd;
}

body #wrapper #chart .fourth .pointer {
    background-position: -20px 0;
    top: 12px;
}

body #wrapper #chart .fourth .description {
    top: 84px;
}

body #wrapper #chart .fourth h2 {
    background-position: center -55px !important;
}

body #wrapper #chart .fifth {
    background-image: -moz-linear-gradient(center bottom, #0c2265, #0c2265, #174dab);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#174dab), to(#0c2265));
    border-left: 1px solid #062860;
    -moz-border-radius: 0 28px 28px 0;
    -webkit-border-top-right-radius: 28px;
    -webkit-border-bottom-right-radius: 28px;
}

body #wrapper #chart .fifth h2 {
    background-position: center -73px !important;
}

#left-panel {
    float: left;
    width: 600px;
    height: 300px;
}

#right-panel {
    float: right;
    width: 350px;
    top: -100px;
}

#chart-panel {
    padding-top: 7em;
    padding-right: 20px;
}

#signup-panel {
    float: left;
    width: 300px;
    margin-left: 50px;
}

#signup-panel .subtag {
    width: 230px;
}

#signup-panel .subtag span {
    display: block;
    margin-bottom: 28px;
}

#nav, #nav li {
    list-style-type: none;
    list-style-position: outside;
}

#nav {
	padding-top:13px;
	padding-bottom:13px;
    height: 40px;

    color: #f9f9f9;
}

#nav li {
    float: right;
    padding: 0;
    margin-top: 10px;
}

#nav form {
	float : right;
	width :600px;
}

#nav .field {
	display : inline-block;
	margin-left:10px;
}

#nav label, #nav .field input {
	width: 142px;
	display:block;
}

#nav .action input {
	width: 60px;
}

#main-logo {
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 0 140px;
    color: #f9f9f9;
}

ul li#link-signin {
    border-bottom: 4px solid #174dab;
}

ul li#link-signin.selected {
    border-bottom: 0;
}

#link-mobiles {
    border-bottom: 4px solid #e55c00;
}

#link-plugins {
    border-bottom: 4px solid #377800;
}

#link-addons {
    border-bottom: 4px solid #e55c00;
}

#link-home {
    border-bottom: 4px solid #377800;
}

#nav  a {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #FFFFFF;
    font-weight: bold;
}

.info {
    width: 100%;
    height: 34px;
    margin-bottom: 19px;
    background: url(/images/signup.png) no-repeat;
    padding-right: 2px;
    display: block;
    text-indent: -9999px;
}

div .tags {
    height: 300px;
    top: 0;
    position: relative;
    float: right;

    width: 30%;
}

#tags-box-header {
    padding: 10px 10px 20px 10px;
    clear: both;
    width: 100%;
    text-align: left;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 18px;
    line-height: 10px;
    font-weight: bold;
}

#tags-list {
    padding: 0 10px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: normal;
    text-align: left;
}

#tags-list ul li {
    margin: 10px;
}

#no-tag-message {
    font-color: red;
}

#tag-all-link {
    padding: 20px 0 0 0;
}

.main-tweet-box {
    padding: 15px 0 20px 0;
}

.tweet-box {
    padding: 0 5px;
    width: 55%;
    float: left;
}