#words-container {
    margin-top: 20px;
    position: relative;
}

#dictionary_img {
    top: -50px;
    left: -20px;
    position: absolute;
    z-index: 100;
    width: 120px;
    height: 120px;
}

#dictionary_title_img {
    top: -45px;
    right: 120px;
    position: absolute;
    z-index: 100;
}

#mainbox2 {
    background: none repeat scroll 0 0 #FCF9EE;
    border: 1px solid #C5C1B6;
    margin: 0 auto;
    position: relative;
    width: 820px;
    min-height: 600px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);

}


/****************** Keepin input box ****/

.keepin_input_box {
    padding: 10px;
    display: block;
    height: 160px
    /*border-right: 2px solid #0084B4;*/
    /*border-bottom: 2px solid #900;*/
}



.keepin_input_box .box-text {
    left:140px;
    top:30px;
    width:560px;
    position: relative;
}



.keepin_input_box .box-text .box-text-input {
    border: 1px solid #C5C1B6;
    border-radius: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 2px;
    -webkit-box-shadow: 0 1px #fff;
    -moz-box-shadow: 0 1px #fff;
    /*box-shadow: 0 3px 4px  rgba(0, 0, 0, 0.3);*/
    width: 100%;
    height: 80px;
    color: #222;
    font: 18px/22px "Helvetica Neue", Arial, sans-serif;
    outline: none;
    _width: 442px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.keepin_input_box .box-text .box_bottom {
    height: 29px;
    margin-top: 12px;
    /*margin-right: 30%;*/
    text-align: right;
    float: left;
    margin-left: 50px;
    font: 14px/16px "Helvetica Neue", Arial, sans-serif;
}
.keepin_input_box .box-text .box-submit-button {
    margin-top: 12px;
    float:right;
    margin-right: -30px;
    font: 12px/14px "Helvetica Neue", Arial, sans-serif;
}
/******** Keepin input box end ******/