#featured {
    background: url("graphics/loading.gif") no-repeat scroll center center #000000;
    height: 237px;
    overflow: hidden;
    width: 563px;
}
#featured img, #featured div {
    display: none;
}
#featured-box {
    background: url("graphics/featured-box-star.gif") no-repeat scroll 800px top #34363E;
    margin: 24px 0 0 24px;
    padding: 24px 0 24px 24px;
    position: relative;
    width: 872px;
}
#featured-box.show-cart {
    float: left;
    width: 587px;
}

#featured-box h3 {
    color: #BEC0C7;
    line-height: 110%;
    margin-bottom: 0.75em;
    margin-top: 30px;
}
#featured-box p {
    color: #AAACB0;
}
#featured-box p strong {
    color: #D6DADF;
}
#featured-box a:link, #featured-box a:visited {
    color: #BEC0C7;
    text-decoration: none;
}
#featured-box a:hover, #featured-box a:focus {
    color: #FFFFFF;
}
#featured-box p a.next {
    background-position: right center;
    font: bold 1.1em/34px "Century Gothic",Helvetica,Arial,sans-serif;
    padding: 0 40px 0 0;
    text-indent: 0;
    width: auto;
}
div.orbit-wrapper {
    height: 1px;
    position: relative;
    width: 1px;
}
div.orbit {
    height: 1px;
    overflow: hidden;
    position: relative;
    width: 1px;
}
div.orbit img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
div.orbit a img {
    border: medium none;
}
.orbit div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div.timer {
    cursor: pointer;
    height: 40px;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    z-index: 1001;
}
span.rotator {
    background: url("graphics/rotator-black.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    left: -20px;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 3;
}
span.mask {
    display: block;
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    z-index: 2;
}
span.rotator.move {
    left: 0;
}
span.mask.move {
    background: url("graphics/timer-black.png") repeat scroll 0 0 transparent;
    left: 0;
    width: 40px;
}
span.pause {
    background: url("graphics/pause-black.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 4;
}
span.pause.active {
    background: url("graphics/pause-black.png") no-repeat scroll 0 -40px transparent;
}
div.timer:hover span.pause, span.pause.active {
    opacity: 1;
}
.orbit-caption {
    display: none;
    font-family: "HelveticaNeue","Helvetica-Neue",Helvetica,Arial,sans-serif;
}
.orbit-wrapper .orbit-caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    font-size: 13px;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
div.slider-nav {
    display: block;
}
div.slider-nav span {
    cursor: pointer;
    height: 40px;
    margin-top: -50px;
    position: absolute;
    text-indent: -9999px;
    top: 60%;
    width: 40px;
    z-index: 1000;
}
div.slider-nav span.right {
    background: url("graphics/bttn-arrow-next.png") no-repeat scroll 0 0 transparent;
    right: 0;
}
div.slider-nav span.right:hover {
    background: url("graphics/bttn-arrow-next.png") no-repeat scroll 0 -40px transparent;
}
div.slider-nav span.left {
    background: url("graphics/bttn-arrow-prev.png") no-repeat scroll 0 0 transparent;
    left: 0;
}
div.slider-nav span.left:hover {
    background: url("graphics/bttn-arrow-prev.png") no-repeat scroll 0 -40px transparent;
}
.orbit-bullets {
    bottom: -40px;
    left: 50%;
    list-style: none outside none;
    margin-left: -50px;
    padding: 0;
    position: absolute;
    z-index: 1000;
}
.orbit-bullets li {
    background: url("graphics/bullets.jpg") no-repeat scroll 4px 0 transparent;
    color: #999999;
    cursor: pointer;
    float: left;
    height: 12px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: -9999px;
    width: 13px;
}
.orbit-bullets li.active {
    background-position: -8px 0;
    color: #222222;
}
.orbit-bullets li.has-thumb {
    background: none repeat scroll 0 0 transparent;
    height: 75px;
    width: 100px;
}
.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000000;
}
#by-category, #by-designer {
    clear: both;
    display: block;
    margin: 0;
    width: 944px;
}
#by-designer {
    background: url("graphics/bg-shop-by-des.gif") no-repeat scroll 0 0 transparent;
}
#by-category {
    background: url("graphics/bg-shop-by-cat.gif") no-repeat scroll 0 0 transparent;
}
ul.shop-nav {
    margin-left: 101px;
    padding: 30px 0 0;
}
ul.shop-nav li {
    float: left;
    margin: 0 34px 45px 0;
    width: 250px;
}
ul.shop-nav li span {
    display: block;
    padding-left: 10px;
}
ul.shop-nav li img {
    margin-bottom: 10px;
}
ul.shop-nav li.last {
    margin-right: 0;
}
ul.shop-nav li a {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    padding: 0 0 15px;
}
ul.shop-nav li a, ul.shop-nav li a:link, ul.shop-nav li a:visited {
    color: #34363E;
    text-decoration: none;
}
ul.shop-nav li a:hover, ul.shop-nav li a:focus {
    background-color: #E22F2D;
    color: #FFFFFF;
}
#shop {
    position: relative;
}
#shop h2 {
    color: #34363E;
    float: left;
    margin: 23px 0 0;
    width: 4em;
}
#shopby {
    background: url("graphics/bg-shopby.gif") repeat-x scroll left bottom transparent;
    height: 56px;
    margin: 0 25px;
}
ul.tabNavigation {
    display: block;
    float: left;
    height: 45px;
    padding-top: 10px;
}
ul.tabNavigation li {
    float: left;
    font: bold 1.1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
ul.tabNavigation li a {
    display: block;
    line-height: 45px;
    margin-right: 15px;
    padding: 0 12px 8px;
}
ul.tabNavigation li a:link, ul.tabNavigation li a:visited {
    color: #807F77;
    text-decoration: none;
}
ul.tabNavigation li a:hover, ul.tabNavigation li a:focus {
    color: #E22F2D;
    text-decoration: none;
}
ul.tabNavigation li a.selected {
    background: url("graphics/cat-arrow.gif") no-repeat scroll center bottom transparent;
    color: #FFFFFF;
    text-decoration: none;
}
ul.tabNavigation li a.selected:link, ul.tabNavigation li a.selected:visited {
    color: #FFFFFF;
}
#blog {
    background-color: #34363E;
    margin: 24px 0 0 24px;
    padding: 24px 0 0 24px;
    position: relative;
    width: 872px;
}
#blog h2 {
    color: #FFFFFF;
    left: 617px;
    margin: 0;
    position: absolute;
    top: 20px;
}
#blog h3 {
    color: #BEC0C7;
    line-height: 110%;
    margin-bottom: 0.75em;
    margin-top: 30px;
}
#blog p {
    color: #AAACB0;
}
#blog h3 a:link, #blog h3 a:visited {
    color: #BEC0C7;
    text-decoration: none;
}
#blog h3 a:hover, #blog h3 a:focus {
    color: #FFFFFF;
}
.nav-thumbs {
    float: left;
    width: 155px;
}
.nav-thumbs img {
    margin-bottom: 19px;
}
.excerpt {
    float: left;
    width: 700px;
}
.cart .excerpt {
    float: left;
    width: 408px;
}
.excerpt img {
    margin: 0 25px 19px 0;
}
.blurb {
    display: block;
    float: right;
    width: 260px;
}
.cart #blog {
    display: inline;
    float: left;
    width: 588px;
}
.cart #blog h2 {
    background-color: #34363E;
    color: #FFFFFF;
    left: 177px;
    margin: 0;
    position: absolute;
    top: 23px;
    width: 410px;
    z-index: 10;
}
.cart #blog h3 {
    margin: 0;
    position: absolute;
}
.cart .blurb {
    background-color: #34363E;
    bottom: 23px;
    float: none;
    height: 2.5em;
    left: 179px;
    opacity: 0.85;
    padding: 10px;
    position: absolute;
    width: 388px;
}
#post2, #post3 {
    display: none;
}
#post1-button {
    opacity: 1;
}
#post2-button, #post3-button {
    opacity: 0.5;
}
#post1-button a, #post2-button a, #post3-button a {
    border: medium none;
    outline: medium none;
}
#shop-intro {
    background: url("graphics/label-free-shipping.gif") no-repeat scroll 830px 55px transparent;
    padding: 24px 24px 0;
}
#directdel {
    float: left;
    width: 587px;
}
#scrollable {
    background-color: #EAE9E2;
    height: 153px;
    padding: 18px 0 15px;
    position: relative;
    width: 587px;
}
#scrollable h2 {
    margin: 0 0 10px 24px;
}
#scrollable a {
    display: block;
    float: left;
    margin-right: 4px;
    width: 99px;
}
.items {
    float: left;
    font-size: 0.95em;
    height: 79px;
    margin-left: 4px;
    width: 535px !important;
}
.items a {
    cursor: pointer;
    display: block;
    float: left;
    height: 79px;
    text-align: center;
    text-decoration: none;
    width: 99px;
}
.items a.active {
    cursor: default;
}
#scrollable img {
    display: block;
}
#scrollable a.prev, #scrollable a.next {
    background: url("graphics/arrows-slider.gif") no-repeat scroll 0 0 #E22F2D;
    cursor: pointer;
    display: block;
    float: left;
    height: 79px;
    margin: 0;
    width: 24px;
}
#scrollable a.prev {
    background-position: left center;
}
#scrollable a.next {
    background-position: right center;
}
#directdel a span {
    display: block;
    left: -9999px;
    position: absolute;
    top: -9999px;
}
#directdel a:link, #directdel a:visited {
    color: #DD0024;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
}
#directdel .link a {
    margin: 0;
    padding: 10px 21px 0 0;
    text-align: right;
    width: 565px;
}
#directdel a:hover, #directdel a:focus {
    color: #E22F2D;
}
#directdel a:hover span, #directdel a:focus span {
    text-decoration: underline;
}
#howtoshop {
    background: url("graphics/bg-star.gif") no-repeat scroll 200px bottom #F4F5EF;
    float: left;
    height: 186px;
    padding: 0 0 0 30px;
    width: 277px;
}
#howtoshop h2 {
    margin: 18px 0 10px;
}
#howtoshop ol li {
    background: url("graphics/nrs-blue-small.png") no-repeat scroll 0 0 transparent;
    line-height: 24px;
    margin-bottom: 4px;
    padding: 0 0 0 30px;
}
#howtoshop ol li strong {
    color: #DD0024;
    font-size: 95%;
}
#howtoshop ol li em {
    color: #DD0024;
    display: block;
    font-family: Georgia,"Times New Roman",Times,serif;
    position: relative;
    top: -8px;
}
#howtoshop ol li.one {
    background-position: 0 0;
}
#howtoshop ol li.two {
    background-position: 0 -26px;
}
#howtoshop ol li.three {
    background-position: 0 -52px;
}
#gift {
    background: url("graphics/icon-gift.gif") no-repeat scroll left top transparent;
    height: 25px;
    padding: 20px 0 0 42px;
    position: absolute;
    right: 18px;
    text-align: right;
    top: 10px;
    width: auto;
}
#gift:hover {
    background: url("graphics/icon-gift.gif") no-repeat scroll left bottom transparent;
}
#gift li {
    display: inline;
    font: bold 1em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin-right: 11px;
}
#gift li a:link, #gift li a:visited {
    color: #ADAC9C;
    text-decoration: none;
}
#gift li a:hover, #gift li a:focus {
    color: #E22F2D;
    text-decoration: none;
}
#shop-cart {
    background: url("graphics/bg-shopping-cart.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 319px;
    margin: 24px 0 0 676px;
    padding: 10px 0 0 46px;
    position: relative;
    width: 196px;
}
.cart #shop-cart {
    float: left;
    margin: 24px 0 0 40px;
}
#shop-cart.empty {
    background: url("graphics/bg-shopping-cart-empty.gif") no-repeat scroll 0 0 transparent;
}
#shop-cart h3 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 25px;
}
#shop-cart p {
    color: #FFFFFF;
    margin: 0 0 1em 0;
    width: 180px;
}
#shop-cart li a {
    display: block;
    height: 38px;
    padding-top: 3px;
    width: 180px;
}
#shop-cart li {
    font: 0.94em Helvetica,Arial,Geneva,sans-serif;
    margin-bottom: 10px;
}
#shop-cart img {
    float: left;
    margin: 0 15px 4px 0;
}
#shop-cart li a:link, #shop-cart li a:visited {
    color: #A3A6B0;
    text-decoration: none;
}
#shop-cart li a:hover {
    background-color: #46474D;
    color: #FFFFFF;
}
.bttn-dark a {
    background: url("graphics/bttn-items-left.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    line-height: 25px;
    margin: 25px 0 0 50px;
    padding: 0 0 0 10px;
    width: 112px;
}
.bttn-dark span {
    background: url("graphics/bttn-items-right.gif") no-repeat scroll right top transparent;
    display: block;
    height: 25px;
    padding: 0 10px 0 0;
}
.bttn-dark a:link, .bttn-dark a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.bttn-checkout a {
    background: url("graphics/bttn-check-out.png") no-repeat scroll 0 0 transparent;
    bottom: 25px;
    display: block;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 25px;
    text-indent: -9999px;
    width: 94px;
}
.sale-5, .sale-10, sale-15, .sale-20, .sale-25 {
    height: 186px;
    width: 277px;
}
.sale-5 {
    background: url("graphics/label-promo-5.png") no-repeat scroll 195px 0 transparent;
}
.sale-10 {
    background: url("graphics/label-promo-10.png") no-repeat scroll 195px 0 transparent;
}
.sale-15 {
    background: url("graphics/label-promo-15.png") no-repeat scroll 195px 0 transparent;
}
.sale-20 {
    background: url("graphics/label-promo-20.png") no-repeat scroll 195px 0 transparent;
}
.sale-25 {
    background: url("graphics/label-promo-25.png") no-repeat scroll 195px 0 transparent;
}
#sale {
    background: url("graphics/bg-star-bird.gif") no-repeat scroll 100px bottom #F4F5EF;
    float: left;
    height: 186px;
    padding: 0 0 0 30px;
    width: 277px;
}
#sale h2 {
    color: #E22F2D;
    font-size: 3em;
    margin: 14px 0 0;
    padding: 0 0 10px;
}
#sale sup {
    display: inline-block;
    font: 14px Georgia,"Times New Roman",Times,serif;
}
#sale p.sale {
    color: #34363E;
    font: bold 1.7em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin-bottom: 12px;
}
#sale p em {
    color: #E22F2D;
    font-style: normal;
}
p.footnote {
    color: #A4A59F;
    font: italic 12px Georgia,"Times New Roman",Times,serif;
    margin: 0 25px;
    padding: 5px 0;
    text-align: right;
}
.shop-now a {
    background: url("graphics/bttn-shop-now.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    text-indent: -9999px;
    width: 128px;
}

a:focus {
    outline: medium none;
}
.stripViewer .panelContainer .panel ul {
    margin: 0 15px 0 0;
    text-align: left;
}
.csw {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 460px;
    overflow: scroll;
    width: 100%;
}
.csw .loading {
    margin: 200px 0 300px;
    text-align: center;
}
.stripViewer {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 665px;
}
.stripViewer .panelContainer {
    left: 0;
    list-style-type: none;
    position: relative;
    top: 0;
    width: 100%;
}
.stripViewer .panelContainer .panel {
    float: left;
    height: 100%;
    position: relative;
    width: 665px;
}
.stripViewer .panelContainer .panel .wrapper {
    padding: 10px;
}
.stripNav ul {
    margin-bottom: 0;
    width: 665px;
}
.stripNav ul li {
    float: left;
    margin-right: 0;
}
#content-main .stripNav a {
    background: none repeat scroll 0 0 #F4F5EF;
    border-right: 4px solid #F4F5EF;
    color: #34363E;
    display: block;
    float: left;
    font: bold 1.2em/36px "Century Gothic",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    margin: 15px 0 0;
    padding: 0 15px 0 10px;
    text-decoration: none;
}
#content-main .stripNav a:link, #content-main .stripNav a:visited {
    color: #34363E;
}
#content-main .stripNav li.tab1 a {
    background: none repeat scroll 0 0 #F4F5EF;
}
#content-main .stripNav li.tab2 a {
}
#content-main .stripNav li.tab3 a {
    background: none repeat scroll 0 0 #F4F5EF;
}
#content-main .stripNav li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #34363E;
}
#content-main .stripNav li a.current {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 4px solid #E9EBE0;
    color: #34363E;
}
.stripNavL a, .stripNavR a {
    display: none;
}
