body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
body {
    background-image: url("http://static.livingdesign.info/images/header_bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
}
a:focus {
    outline: medium none;
}
a:link, a:visited, a:active, a:hover {
    color: #790000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px dotted #790000;
}
#wrapper_top_a, #wrapper_bot_a, #wrapper_mid_a {
    width: 100%;
}
#wrapper_bot_a {
    background-image: url("http://static.livingdesign.info/images/footer_bg.png");
    background-position: center 70px;
    background-repeat: no-repeat;
}
#wrapper_top_b, #wrapper_bot_b, #wrapper_mid_b {
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
}
#wrapper_mid_b {
    background-image: url("http://static.livingdesign.info/images/border01.png");
    background-position: left center;
    background-repeat: repeat-y;
}
#head_link a {
    border: 0 none;
}
#date {
    margin-left: 55px;
    position: absolute;
    top: 42px;
    z-index: 99;
}
#post_no {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    margin: 90px 0 0 1090px;
    position: absolute;
    text-align: center;
    width: 100px;
}
* html div#dv1 {
    position: absolute;
}
#content {
    background-image: url("http://static.livingdesign.info/images/content_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    overflow: visible;
    width: 915px;
}
#wrapper_cnt {
}
.posts {
    background-image: url("http://static.livingdesign.info/images/divider02.png");
    background-position: 10px bottom;
    background-repeat: no-repeat;
    margin-left: -26px;
    padding-bottom: 70px;
    position: relative;
}
.lst1 a {
    font-weight: normal;
}
.calendar {
    background-image: url("http://static.livingdesign.info/images/calender_bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #002157;
    min-height: 177px;
    width: 133px;
}
.excerpt {
    width: 748px;
}
.excerpt h2 a:link, .excerpt h2 a:visited, .excerpt h2 a:active, .excerpt h2 a:hover {
    font-weight: normal;
}
.excerpt p a:link, .excerpt p a:visited, .excerpt p a:active, .excerpt p a:hover, #pg_nav {
    font-size: 12px;
}
#cust-temp h1 a {
    font-weight: normal;
}
#pg_nav {
    padding-left: 147px;
}
.post-month {
    top: -3px;
}
.post-cats {
    color: #FFC88A;
}
.post_a, .post_b {
    background-repeat: no-repeat;
}
.post_a {
    background-image: url("http://static.livingdesign.info/images/post_a.png");
    background-position: left top;
}
.post_b {
    background-image: url("http://static.livingdesign.info/images/post_b.png");
    background-position: right 0;
}
.comt_form1 {
    background-image: url("http://static.livingdesign.info/images/form_bg.jpg");
    background-position: 150px 50px;
    background-repeat: no-repeat;
    padding: 280px 0 0 180px;
}
div.entry p a.nobdr {
    border: medium none;
    text-decoration: overline;
}
.form_bg {
    height: 840px;
}
.navigation {
    display: inline;
    margin-top: 35px;
}
.navigation a {
    font-weight: normal;
}
#author, #email, #url, #comment, .sbt_form {
    position: absolute;
}
#author, #email, #url, #comment {
    border: medium none;
    color: #6A889C;
    font-size: 16px;
}
#author, #email, #url {
    background-color: transparent;
    background-image: url("http://static.livingdesign.info/images/spacer.gif");
    height: 27px;
}
#author {
    margin-left: 105px;
    margin-top: 21px;
    width: 390px;
}
#email {
    margin-left: 110px;
    margin-top: 69px;
    width: 385px;
}
#url {
    margin-left: 133px;
    margin-top: 117px;
    width: 360px;
}
#comment {
    background-color: transparent;
    font-family: Arial,Helvetica,sans-serif;
    height: 370px;
    margin-left: 40px;
    margin-top: 150px;
    overflow: auto;
    width: 460px;
}
.sbt_form {
    margin-left: 223px;
    margin-top: 570px;
    width: 100px;
}
blockquote {
    background-image: url("http://static.livingdesign.info/images/quotes-small.png");
    background-position: 20px 5px;
    background-repeat: no-repeat;
    color: #666666;
    font-style: italic;
    padding: 0 50px !important;
}
li.bypostauthor {
    background-image: url("http://static.livingdesign.info/images/cmt3.png");
    background-position: 130px bottom;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    overflow: hidden;
}
.bypostauthor div.clearfix {
    background-image: url("http://static.livingdesign.info/images/cmt1.png");
    background-position: 20px top;
    background-repeat: no-repeat;
    padding-top: 40px;
}
.byuser div.etc11b {
    background-image: url("http://static.livingdesign.info/images/cmt2.png");
    background-position: 145px top;
    background-repeat: repeat-y;
}
div.entry p {
    margin-bottom: 20px;
}
div.entry ul {
    list-style-image: url("http://static.livingdesign.info/images/bullet1.png");
    list-style-position: outside;
    margin-bottom: 15px;
    margin-left: 40px;
}
div.entry ul li {
    margin-bottom: 5px;
}
div.entry p a:link, div.entry p a:visited, div.entry p a:active, div.entry p a:hover {
    font-size: 16px;
    font-weight: normal;
}
#magic {
    background-image: url("http://static.livingdesign.info/images/view-feature.png");
    background-repeat: no-repeat;
    display: block;
    font-weight: bold;
    height: 140px;
    margin-left: -72px;
    padding: 35px 0 0 98px;
    position: relative;
    width: 205px;
}
.fn {
    color: #000000;
}
.fn, cite a:link, cite a:visited, cite a:active, cite a:hover {
    font-size: 18px;
    text-transform: capitalize;
}
.says {
    display: none;
}
h3.fnt24 a {
    font-family: Georgia,'Times New Roman',Times,serif;
    font-weight: normal;
}
.wp-caption-text {
    color: #898989;
    font-size: 11px;
    padding-top: 5px;
    position: relative;
}
.wp-caption a {
    border: medium none;
    display: block;
}
.wp-caption {
    display: inline;
}
#pg_nv {
}
.widgettitle {
    color: #A98E69;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}
.post-stats {
    display: block;
    font-size: 12px !important;
    font-weight: normal !important;
    margin-left: 70px;
}
#comments_list {
}
#cmt-info {
    background-image: url("http://static.livingdesign.info/images/comment_stamp.png");
    background-repeat: no-repeat;
    padding: 6px 0 7px 6px;
}
#cmt-info img {
    float: left;
    margin-right: 20px;
}
#cmt-info cite {
    display: block;
    margin-top: 7px;
    overflow: hidden;
}
#cmt p {
    margin: 0 0 10px 75px;
}
#tag_cloud-3 a {
    font-weight: normal;
}
.breadcrumb {
    font-size: 11px;
    margin-left: 30px;
    padding-top: 10px;
}
.fix01 {
}
.linkwithin_hook {
    clear: left;
}
.linkwithin_outer {
}
.more-link {
    background-image: url("http://static.livingdesign.info/images/view-more.png");
    background-position: right center;
    border: medium none !important;
    color: #FFFFFF !important;
    padding: 5px 20px 5px 10px;
}
.more1 {
    background-image: url("http://static.livingdesign.info/images/view-more2.png");
    background-repeat: no-repeat;
    display: block;
    height: 70px;
    margin-left: -45px;
    padding-left: 38px;
    padding-top: 46px;
    width: 289px;
}
#searchform .inactive {
}
#searchform .active {
}
#searchform .focused {
}
#search {
    margin-bottom: 65px;
}
#sidebar_main {
    background-image: url("http://static.livingdesign.info/images/sidebar_bg.png");
    background-repeat: no-repeat;
    width: 325px;
}
.divider1 {
    margin: 65px 0 15px;
}
#sidebar h3, #footer_sidebar h3 {
    letter-spacing: -2px;
}
#sidebar {
    background-image: url("http://static.livingdesign.info/images/border02.png");
    background-repeat: repeat-y;
    padding: 0 20px;
}
.frm01 {
    background-color: transparent;
    border: medium none;
    color: #6A889C;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 20px;
    overflow: hidden;
    padding: 3px 3px 3px 10px;
    width: 135px;
}
.sbt_btn {
    margin-left: 7px;
    margin-top: 28px;
}
#subscribe {
    background-image: url("http://static.livingdesign.info/images/subscribe.png");
    background-repeat: no-repeat;
    height: 310px;
}
.frm02 {
    background-color: transparent;
    border: medium none;
    color: #6A889C;
    font-size: 16px;
    margin: 162px 0 0 30px;
    overflow: hidden;
    padding: 3px 3px 3px 10px;
    width: 200px;
}
.sbt_btn2 {
    height: 54px;
    margin: 7px 0 0 131px;
    width: 56px;
}
#categories-3 li, .ul-archives li, #widget_anual_archive-3 ul li, #recent-posts-3 li {
    color: #666666;
    font-style: italic;
    line-height: 20px;
    list-style-image: url("http://static.livingdesign.info/images/bullet1.png");
    list-style-position: outside;
    margin-left: 30px;
}
#categories-3 li a, .ul-archives li a, #widget_anual_archive-3 ul li a, #recent-posts-3 li a {
    font-style: normal !important;
}
#recent-posts-3 {
}
.widgettitle {
    color: #88987F;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 36px;
    font-style: italic;
    letter-spacing: -2px;
    margin: 15px 0;
}
#flexo-archives ul li {
    color: #A98E69;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 30px;
}
#flexo-archives ul li ul li {
    margin: 0 0 0 30px !important;
    padding-bottom: 0;
}
#flexo-archives ul ul li {
    padding-left: 0 !important;
}
.flexo-list li, .flexo-list a {
    font-size: 14px !important;
}
#twitter {
    background-image: url("http://static.livingdesign.info/images/twitter-living-design.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    height: 287px;
    padding: 100px 0 0 70px;
}
#facebook {
    margin-left: -10px;
}
#wpp-2 img {
    clear: left;
    float: left;
    margin-right: 10px;
}
#wpp-2 li {
    display: inline-block;
    margin: 0 0 10px 10px;
}
#pop_posts .post-stats {
    margin-left: 0;
}
#pop_posts h4 {
    color: #A98E69;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}
#pop_posts ul {
}
#pop_posts ul li {
    color: #666666;
    margin-bottom: 10px;
    margin-left: 20px;
}
#pop_posts ul a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    font-weight: normal;
}
#pop_posts a:link, #pop_posts a:visited, #pop_posts a:active, #pop_posts a:hover {
}
#footer {
}
#footer-cnt {
    background-image: url("http://static.livingdesign.info/images/footer_01.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 410px;
}
#footer_links {
    width: 915px;
}
#footer_sidebar {
    padding: 0 70px 0 20px;
    top: -15px;
    width: 235px;
}
#recent_comments {
}
.flt_l {
    float: left;
}
.flt_r {
    float: right;
}
.flt_n {
    float: none;
}
.dsply_b {
    display: block;
}
.dsply_n {
    display: none;
}
.dsply_i {
    display: inline;
}
.pos_a {
    position: absolute;
}
.pos_r {
    position: relative;
}
.visible_h {
    visibility: hidden;
}
.clr_l {
    clear: left;
}
.clr_r {
    clear: right;
}
.txt_align_r {
    text-align: right;
}
.txt_align_c {
    text-align: center;
}
.txt_align_l {
    text-align: left;
}
.mrg_5 {
    margin: 5px;
}
.mrg_10 {
    margin: 10px;
}
.mrg_15 {
    margin: 15px;
}
.mrg_20 {
    margin: 20px;
}
.mrg_t3 {
    margin-top: 3px;
}
.mrg_t5 {
    margin-top: 5px;
}
.mrg_t10 {
    margin-top: 10px;
}
.mrg_t15 {
    margin-top: 15px;
}
.mrg_t20 {
    margin-top: 20px;
}
.mrg_t55 {
    margin-top: 55px;
}
.mrg_r5 {
    margin-right: 5px;
}
.mrg_r10 {
    margin-right: 10px;
}
.mrg_r15 {
    margin-right: 15px;
}
.mrg_r20 {
    margin-right: 20px;
}
.mrg_b5 {
    margin-bottom: 5px;
}
.mrg_b10 {
    margin-bottom: 10px;
}
.mrg_b15 {
    margin-bottom: 15px;
}
.mrg_b20, #tocc h1 {
    margin-bottom: 20px;
}
.mrg_b30 {
    margin-bottom: 30px;
}
.mrg_b50 {
    margin-bottom: 50px;
}
.mrg_b100 {
    margin-bottom: 100px;
}
.mrg_l5 {
    margin-left: 5px;
}
.mrg_l10 {
    margin-left: 10px;
}
.mrg_l15 {
    margin-left: 15px;
}
.mrg_l20 {
    margin-left: 20px;
}
.pad_5 {
    padding: 5px;
}
.pad_10 {
    padding: 10px;
}
.pad_15 {
    padding: 15px;
}
.pad_20 {
    padding: 20px;
}
.pad_t5 {
    padding-top: 5px;
}
.pad_t10 {
    padding-top: 10px;
}
.pad_t15 {
    padding-top: 15px;
}
.pad_t20 {
    padding-top: 20px;
}
.pad_t30 {
    padding-top: 30px;
}
.pad_t50 {
    padding-top: 50px;
}
.pad_r5 {
    padding-right: 5px;
}
.pad_r10 {
    padding-right: 10px;
}
.pad_r15 {
    padding-right: 15px;
}
.pad_r20 {
    padding-right: 20px;
}
.pad_r35 {
    padding-right: 35px;
}
.pad_b5 {
    padding-bottom: 5px;
}
.pad_b10 {
    padding-bottom: 10px;
}
.pad_b15 {
    padding-bottom: 15px;
}
.pad_b20 {
    padding-bottom: 20px;
}
.pad_b30 {
    padding-bottom: 30px;
}
.pad_l5 {
    padding-left: 5px;
}
.pad_l10 {
    padding-left: 10px;
}
.pad_l15 {
    padding-left: 15px;
}
.pad_l20 {
    padding-left: 20px;
}
.fnt11, .date {
    font-size: 11px;
}
.fnt12 {
    font-size: 12px;
}
.fnt14 {
    font-size: 14px;
}
.fnt15 {
    font-size: 15px;
}
.fnt16 {
    font-size: 16px;
}
.fnt18 {
    font-size: 18px;
}
.fnt24 {
    font-size: 24px;
}
.fnt30 {
    font-size: 30px;
}
.fnt36 {
    font-size: 36px;
}
.fnt44 {
    font-size: 44px;
}
.fnt48 {
    font-size: 48px;
}
.fnt_bld {
    font-weight: bold;
}
.fnt_itlc {
    font-style: italic;
}
.fnt_nml {
    font-weight: normal;
}
.fnt_clr1 {
    color: #88987F;
}
.fnt_clr2, .date {
    color: #736357;
}
.fnt_clr3 {
    color: #603913;
}
.fnt_clr4 {
    color: #A98E69;
}
.fnt_family1, #tocc a, #tocc h1, #tocc h2 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
.fnt_family2 {
    font-family: Arial,Helvetica,sans-serif;
}
.v_align {
    vertical-align: middle;
}
.etc01 a:hover {
    border-bottom: 0 none;
}
.etc02 a:link, .etc02 a:visited, .etc02 a:active, .etc02 a:hover {
    border-bottom: 0 none;
}
.etc03 a:link, .etc03 a:visited, .etc03 a:active, .etc03 a:hover {
}
.etc04 a:link, .etc04 a:visited, .etc04 a:active, .etc04 a:hover {
    border-bottom: 0 none;
    color: #FFFFFF;
    font-style: italic;
}
.etc08 a:link, .etc08 a:visited, .etc08 a:active {
    border-bottom: 1px dotted #790000;
    font-size: 24px;
    font-weight: normal;
}
.etc08 a:hover {
    border-bottom: 0 none;
}
.etc05 {
    padding-left: 107px;
}
.etc06, .etc07 {
    background-repeat: no-repeat;
}
.etc06 {
    background-image: url("http://static.livingdesign.info/images/footer_link_l.png");
    background-position: left 0;
    padding-left: 25px;
}
.etc07 {
    background-image: url("http://static.livingdesign.info/images/footer_link_r.png");
    background-position: right center;
    display: block;
    height: 34px;
    padding-right: 25px;
}
.etc09 {
    padding-left: 147px;
}
.etc10 {
    background-image: url("http://static.livingdesign.info/images/cmt1.png");
    background-position: 20px top;
    background-repeat: no-repeat;
    padding-top: 43px;
}
.etc11 {
    background-image: url("http://static.livingdesign.info/images/cmt2.png");
    background-position: 145px top;
    background-repeat: repeat-y;
    padding: 10px 10px 10px 200px;
}
div .etc11 a, div .etc11b a {
    font-weight: normal;
}
.etc11b {
    padding: 10px 175px 10px 200px;
}
.etc12 {
    background-image: url("http://static.livingdesign.info/images/cmt3.png");
    background-position: 130px top;
    background-repeat: no-repeat;
}
.etc13 {
    width: 80%;
}
.etc14 {
    width: 50px;
}
.etc15 {
    background-image: url("http://static.livingdesign.info/images/quotes.png");
    background-position: 435px top;
    background-repeat: no-repeat;
}
.etc16 {
    background-image: none;
}
.etc17 {
    margin-left: -20px;
}
.footer_li li {
    float: left;
}
.recent-posts li, .recent-comments li {
    color: #666666;
    margin-bottom: 10px;
}
.recent-posts a, .recent-comments a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    font-weight: normal;
}
.width01 {
    width: 40%;
}
.formcontainer {
}
form.contact-form {
    background-image: url("http://static.livingdesign.info/images/form2_bg.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    height: 1140px;
    width: 670px;
}
div.formcontainer legend {
    visibility: hidden;
}
#ec_name, #ec_email, #ec_url, #ec_subject, #ec_message, #ec_math_a {
    background-color: transparent;
    background-image: url("http://static.livingdesign.info/images/spacer.gif");
    border: medium none;
    color: #6A889C;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 3px 3px 0 0;
    position: absolute;
}
#ec_name {
    margin: 250px 0 0 205px;
    width: 335px;
}
#ec_email {
    margin: 298px 0 0 205px;
    width: 335px;
}
#ec_url {
    margin: 345px 0 0 205px;
    width: 335px;
}
#ec_subject {
    margin: 375px 0 0 240px;
    width: 300px;
}
#ec_message {
    height: 400px;
    margin: 420px 0 0 85px;
    overflow: auto;
    width: 455px;
}
#ec_math_a {
    margin: 852px 0 0 235px;
    width: 305px;
}
div.form-submit input.button {
    border: medium none;
    cursor: pointer;
    height: 61px;
    margin: 980px 0 0 245px;
    width: 139px;
}
p.important, p.error {
    background-color: #990000;
    background-image: url("http://static.livingdesign.info/images/exclamation.png");
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFCC00;
    padding: 15px 15px 15px 48px;
    position: absolute;
}
p.success {
    background-image: url("http://static.livingdesign.info/images/pigeon.png");
    background-position: left top;
    background-repeat: no-repeat;
    height: 192px;
    padding: 10px 0 0 305px;
}
.tags {
    font-size: 10px;
    text-transform: uppercase;
}
#comment-total {
    color: #251F10;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 32px;
    height: 60px;
    margin-left: 1085px;
    margin-top: -635px;
    position: absolute;
    text-align: center;
    width: 100px;
}
.twtr-hd {
    padding: 0 !important;
}
.twtr-ft div {
    display: none;
}
div.tw_button {
    margin-right: -5px !important;
}
div.clr_l.pad_b5.fnt14.fnt_itlc img {
    max-width: 400px;
}
#upprev_box .upprev_excerpt {
    text-align: left !important;
}
#upprev_box .upprev_excerpt p {
    font-size: 12px;
}
#upprev_box .upprev_excerpt p a {
    font-size: 16px;
}
#upprev_box .upprev_thumb {
    margin-right: 10px !important;
}
div.pd-rating {
    margin-left: 75px;
}
.greet_block {
    background: url("http://static.livingdesign.info/images/greet-bg.jpg") repeat scroll 0 0 #FFF799 !important;
    border: 1px dashed #000000 !important;
}
.sc-lnks {
    background-image: url("http://static.livingdesign.info/images/social-bg.png");
    background-repeat: no-repeat;
    clear: left;
    display: block;
    height: 50px;
    padding-top: 34px;
}
.sclnks {
    width: 730px;
}
body#cust-temp {
    background-image: url("http://static.livingdesign.info/images/post_temp_bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
}
body#cust-temp #post_no {
    color: #FFFFFF;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 50px;
    font-weight: bold;
    height: 60px;
    margin: 90px 0 0 1120px;
    position: absolute;
    text-align: center;
    width: 100px;
}
body#cust-temp #date {
    margin-left: 65px;
    position: absolute;
    top: 42px;
    z-index: 99;
}
.custpost {
    float: right;
}
body#cust-temp .posts {
    padding-top: 30px;
}
#similar-posts h4 {
    color: #A98E69;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 10px;
}
#similar-posts ul li {
}
body#cust-temp div.entry ul {
}
.liexternal, .liwikipedia {
    background-image: url("http://static.livingdesign.info/images/blank.gif");
    background-position: right 5px;
    background-repeat: no-repeat;
    padding-right: 6px;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
#upprev_box {
    background-color: #FFFFFF;
    border-left: 1px solid #F0F0F0;
    border-top: 2px solid #000000;
    bottom: 0;
    box-shadow: 0 4px 10px #666666;
    padding: 10px 20px 10px 10px;
    position: fixed;
    text-align: left;
    width: 360px;
    z-index: 10000000;
}
#upprev_box h6 {
    color: inherit;
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    text-transform: uppercase;
}
#upprev_box h6 a {
}
#upprev_box h6 a:hover {
}
#upprev_box h6 a:visited {
}
#upprev_box h6 .num {
    color: #888888;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}
#upprev_box .upprev_excerpt {
    text-align: justify;
}
#upprev_box .upprev_excerpt p {
    margin: 0;
    overflow: hidden;
}
#upprev_box .upprev_excerpt p a {
}
#upprev_box .upprev_excerpt p a:hover {
}
#upprev_box .upprev_excerpt p a:visited {
}
#upprev_box .upprev_thumb {
    border: 0 none;
    float: left;
    margin: 5px 20px 0 0;
}
#upprev_box button {
    background: url("/wp-content/plugins/upprev-nytimes-style-next-post-jquery-animated-fly-in-button/close_window.gif") no-repeat scroll 0 0 #FFFFFF;
    border: medium none;
    cursor: pointer;
    height: 13px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 5px;
    text-indent: -999em;
    top: 5px;
    width: 13px;
}
.wp-pagenavi a {
    margin: 40px 2px 0;
}
.wp-pagenavi a, .wp-pagenavi span.current {
    float: left;
    padding: 0 5px;
    position: relative;
    z-index: 99;
}
.wp-pagenavi a, .wp-pagenavi a:link {
    color: #790000;
    text-decoration: none;
}
.wp-pagenavi a:visited {
    color: #790000;
    text-decoration: none;
}
.wp-pagenavi a:hover {
    color: #DB9849;
}
.wp-pagenavi a:active {
    color: #0066CC;
    text-decoration: none;
}
.wp-pagenavi span.pages {
    background-image: url("/wp-content/plugins/wp-pagenavi/nav-bg.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 60px;
    margin: 2px 10px 2px 2px;
    padding: 39px 4px 2px 120px;
    width: 170px;
}
#pg_nv {
    display: block;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    height: 100px;
    margin-left: 23px;
}
.wp-pagenavi span.current {
    background-image: url("/wp-content/plugins/wp-pagenavi/nav_bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
    color: #959595;
    font-weight: bold;
    height: 50px;
    margin: 25px 2px 0;
    padding: 15px 25px 0;
}
.wp-pagenavi span.extend {
    color: #000000;
    float: left;
    margin: 40px 2px 0;
    position: relative;
}
