.word-content {font-size:30px;text-align:center;margin-top:20px}
.tag-item {background: none repeat scroll 0 0 #6c6c6c;color: #ffffff;display: inline-block;line-height: 17px;padding: 2px; margin:3px}
.new-tag {filter:Glow(Color=red, Strength=5)}