<div id="words-container">


  <div id="mainbox2">

    <img id="dictionary_img" src="/images/show/dictionary.png"/>
    <img id="dictionary_title_img" src="/images/show/title.png"/>

    <%= form_for([@user, Word.new]) do |f| %>
        <div class="keepin_input_box">
          <div class="box-text">
            <%= f.text_area :word, :class=> "box-text-input" %>
            <div class="box_bottom">
              <span>try this formate apple@i love apple <b>or</b> apple@http://google.com </span>
            </div>
            <%= f.submit "Keep In Mind", :class=> "box-submit-button" %>
          </div>

        </div>
    <% end %>


  </div>


</div>