<div id="words-container">

  <img id="dictionary_img" src="/images/show/dictionary.png"/>
  <img id="dictionary_title_img" src="/images/show/title.png"/>

  <div id="mainbox">

    <div class="keepin_input_box">
      <div class="box-text">
        <textarea class="box-text-input" cols="40" id="word_word" name="word[word]" rows="20"></textarea>

        <div class="box_bottom">
          <span>Try this format apple@i love apple <b>or</b> apple@http://google.com </span>
        </div>
        <input class="box-submit-button" id="word_submit" name="commit" type="submit" value="Keep In Mind">
      </div>
      <div class="add_word_success_info">Add word succeed!</div>
    </div>

    <ul class="words-stream-tabs">
      <li class="words-stream-tab active">
        <a class="words-tab-text" id="all-tab" href="">All</a>
      </li>
      <li class="words-stream-tab">
        <a class="words-tab-text" id="starred-tab" href="">Starred</a>
      </li>
      <li class="words-stream-tab-button" id="play-button">
        <img src="/images/show/Button-Up.png" id="play-image" width="50px" height="50px"/>
        <img src="/images/show/Button-Stop.png" id="stop-image" style="display:none; margin-top: -0.8px; margin-left: -0.5px;" width="50px" height="50px"/>
      </li>
    </ul>

    <div id="cards-container">
      <%= render 'layouts/cards' %>
    </div>

    <%= render 'layouts/slider' %>
   	<script>
         var user_id = '<%= @user.id %>';
	</script>
  </div>
</div>




