<div id="footer">
    <div class="container_16">
			<div class="grid_12 prefix_2">
	<div class="grid_6 alpha omega">
	© Copyright 2010 KeepIn
	</div>
	<!-- end .grid_6 -->
	<div class="grid_6">
			<ul id="footernav">
			<li><a href="../">About KeepIn</a></li>
			<li><a href="../services">Our Services</a></li>
			<li><a href="../portfolio">Portfolio</a></li>
		   	<li class="last"><a href="../contact">Contact</a></li>
			</ul>
			</div></div>
	</div>
</div>