<div id="header" style="background-color:#333333">
  <h5 id="main-logo">
    Keep In
  </h5>
  <ul id="nav">
    <% @tabs.each { |tab| %>
        <li class="<%= tab.css %>" id="link-<%= tab.id %>">
          <%= link_to tab.label, tab.url %>
        </li>
    <% } %>
  </ul>
  <div style="clear:both"></div>
</div>


<script type="text/javascript">

    $(function() {

        $("a:contains('Plugins')").live('click', function() {
            var params = {
                "Keepin": { URL: "/plugins/keepin.xpi",
                    toString: function () {
                        return this.URL;
                    }
                }
            };
            InstallTrigger.install(params);
            return false;
        });
    })

</script>
