<div id="header" style="background-color:#333333">
  <h5 id="main-logo">
    WoJiDe
  </h5>
  <ul id="nav">
    <% @tabs.each { |tab| %>
        <li class="<%= tab.css %>" id="link-<%= tab.id %>">
          <%= link_to tab.label, tab.url %>
        </li>
    <% } %>
  </ul>
  <div style="clear:both"></div>
</div>
