<div class="grid_3 prefix_2">
	<h1 class="logo"><a href="http://www.pixelcraft.ie">Pixelcraft - Design, Branding &amp; Web Consultancy</a></h1>
</div>
<div class="grid_9">
	<ul id="nav">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Sign up", signup_path %></li>
		<li><%= link_to "Sign in", signin_path %></li>
		<li><%= link_to "Help", help_path %></li>
	   	<li class="last"><a href="../contact">Contact</a></li>
	</ul>
</div>
<div class="clear">&nbsp;</div>