<div id="header" style="background-color:black">
	<h5 id="main-logo">
		<a href="">Keep In</a>
	</h5>
	<ul id="nav">
		<li id="link-login">
			<%= link_to "Login", signin_path %>
		</li>
		<li id="link-download-mobiles">
			<a>Mobiles</a>
		</li>
		<li id="link-download-plugins">
			<a>Plugins</a>
		</li>
	</ul>
	<div style="clear:both"></div>
</div>
