<div id="header" style="background-color:#333333">
  <h5 id="main-logo">
    WoJiDe
  </h5>
  <ul id="nav">
	<%= tabs_tag do |tab| %>
	  <%= tab.home      'Homepage', root_path %>
	  <%= tab.addons    'AddOns', root_path %>
	<% end %>
  </ul>
  <div style="clear:both"></div>
</div>
