<div id="featured-box">

  <!--<div class="orbit-wrapper">-->
    <!--<div class="clearfix orbit" id="featured">-->
      <!--&lt;!&ndash;<img data-caption="#caption1" alt="Eames elephant" src="/images/photolib/3429_hh.jpg" style="z-index: 3; display: block; left: 0px;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption2" alt="Eames lounge chair" src="/images/photolib/3430_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption3" alt="Plywood group" src="/images/photolib/3431_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption4" alt="Jasper morrison" src="/images/photolib/3432_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption5" alt="Folding screen" src="/images/photolib/3433_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption6" alt="Storage unit" src="/images/photolib/3434_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption7" alt="Plastic side chair" src="/images/photolib/3435_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption8" alt="Lounge chair &amp; ottoman" src="/images/photolib/3436_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption9" alt="Maarten van Severen" src="/images/photolib/3437_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
      <!--&lt;!&ndash;<img data-caption="#caption10" alt="Worknest" src="/images/photolib/3438_hh.jpg" style="display: block; left: -563px; z-index: 1;">&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="timer">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="mask move">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="rotator move" style="-moz-transform: rotate(294deg);">&ndash;&gt;-->
        <!--&lt;!&ndash;</span></span><span class="pause">&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="slider-nav">-->
      <!--<span class="right">Right</span>-->
      <!--<span class="left">Left</span>-->
    <!--</div>-->
  <!--</div>-->
  <!-- // featured -->

  <div class="orbit-wrapper" id="slides">
    <div class="slides_container">
      <div class="slide">
        <div class="word" id='word1'>2</div>
        <div class="slide_back">2</div>
      </div>
      <div class="slide">
        <div class="word" id='word2'>3</div>
        <div class="slide_back">3</div>
      </div>
    </div>
    <!--<div class="timer">-->
      <!--<span class="mask move">-->
        <!--<span class="rotator move" style="-moz-transform: rotate(294deg);">-->
        <!--</span></span><span class="pause">-->
      <!--</span>-->
    <!--</div>-->
    <div class="slider-nav">
      <span class="next">Right</span>
      <span class="prev">Left</span>
    </div>
  </div>

</div>

<script type="text/javascript">

    var eventCode = -1;
    var current_word_number = 1;
    var total_words = parseInt('<%=@words.length%>');
    var clickedWords = new Array;
    $(function() {
        var startSlide = 1;

//        $('#current_word').html(current_word_number);
//        $('#total_words').html(total_words);

        // Let slides_container be visible when there is just one child
        if ($('.slide').length > 0) {
            $('.slides_container').css("display", "block");
        }
        $('#slides').slides({
            preload: true,
            preloadImage: '/stylesheets/img/slide_images/loading.gif',
            play: 0,
            pause: 2500,
            hoverPause: true ,
            generatePagination: false
        });
        $('.word').click(function() {
            var elem = $(this);
            var word_id = elem.attr('id').replace(/[^\d]/g, '');
            clickedWords.push(word_id);
            update_tag_via_ajax(word_id, "familiar", "unfamiliar");
            if (elem.data('flipped')) {
                elem.revertFlip();
                elem.data('flipped', false);
            } else {
                elem.flip({
                    direction: 'tb',
                    color:'#F3F1E5',
                    speed:350,
                    onBefore:function() {
                        elem.html(elem.siblings('.slide_back').html());
                    },
                    onEnd: function() {
                    }
                });
                elem.data('flipped', true);
            }
        });
        $(document).keydown(function(event) {
            if (eventCode < 0)
                eventCode = event.which;
            else
                return;
            operateKeyCode();
        });
        $(".prev").bind('click', function() {
            if (--current_word_number <= 0)
                current_word_number = total_words;
            $('#current_word').html(current_word_number);
        });
        $(".prev").mousedown(function() {
            var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
            if (jQuery.inArray(word_id, clickedWords) < 0) {
                update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            }
        });
        $(".next").bind('click', function() {
            if (++current_word_number > total_words)
                current_word_number = 1;
            $('#current_word').html(current_word_number);
        });
        $(".next").mousedown(function() {
            var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
            if (jQuery.inArray(word_id, clickedWords) < 0) {
                update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            }
        });

        $(".bottom_back > a").mousedown(function() {
            if (total_words == 1 && clickedWords.length == 0) {
                var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
                update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            } else if (current_word_number == total_words) {
                var word_id = $('.slides_control > div:visible div[id]').attr('id').replace(/[^\d]/g, '');
                if (clickedWords.indexOf(word_id) < 0)
                    update_tag_via_ajax(word_id, "unfamiliar", "familiar");
            }
        });
    })
    function operateKeyCode() {
        switch (eventCode) {
            case 37 :
                $(".prev").trigger("mousedown");
                $(".prev").trigger("click");
                break;
            case 39 :
                $(".next").trigger("mousedown");
                $(".next").trigger("click");
                break;
            default:
                break;
        }
        setTimeout("resetEventCode()", 1000);
    }

    function resetEventCode() {
        eventCode = -1;
    }

    function update_tag_via_ajax(word_id, oldTag, newTag) {
        $.ajax({
            url: "/words/update_tag",
            type: "POST",
            data: {"word": {"word_id" : word_id,"oldTag": oldTag, "newTag": newTag}},
            dataType: "json",
            success :function(data) {

            },
            error: function() {
            }
        });
    }
</script>