<div id="featured-box">

  <div class="orbit-wrapper" id="slides">
    <div class="slides_container">
      <div class="slide">
        <div class="word" id='word1'>2</div>
        <div class="slide_back">2</div>
      </div>
      <div class="slide">
        <div class="word" id='word2'>3</div>
        <div class="slide_back">3</div>
      </div>
    </div>
    <!--<div class="timer">-->
      <!--<span class="mask move">-->
        <!--<span class="rotator move" style="-moz-transform: rotate(294deg);">-->
        <!--</span></span><span class="pause">-->
      <!--</span>-->
    <!--</div>-->
    <div class="slider-nav">
      <span class="next">Right</span>
      <span class="prev">Left</span>
    </div>
  </div>

  <div class="words-loading-img"><img src="/images/show/slider/waiting.gif" /></div>

</div>

